@use "sass:color";
@import 'bulmaswatch/darkly/_variables.scss';
@import 'bulma/bulma.sass';
@import 'bulmaswatch/darkly/_overrides.scss';

$main-sidebar-background-color: $footer-background-color; // lighten($footer-background-color, 1%);
$main-view-background-color: $body-background-color; // lighten($footer-background-color, 5%);
$main-footer-background-color: darken($navbar-background-color, 15%);

$size-6-l2: 1rem;
$size-6-l3: 0.9rem;
$size-7-l2: 0.75rem;
$size-7-l3: 0.6rem;

$turquoise: #1abc9c;
$bluequoise: #1a9cbc;

$color-title1: mix($green, $turquoise, 15%);
$color-title2: mix($white, $turquoise, 10%);
$color-title3: mix($white, $turquoise, 35%);

$game-box-selected-color: color.change($link, $alpha: 0.1);
$game-box-selected-dark-color: color.change(darken($link, 20%), $alpha: 0.8);

$tablet: 700px;
$game-gallery-breakpoint: $tablet;

@mixin semantic-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.semantic-hide {
  @include semantic-hide;
}

@mixin flex-stretch-items-vertical {
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
}

@mixin flex-stretch-items-horizontal {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
}

.columns.no-columns-offset {
  margin-top: 0;
  .column {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.columns.no-columns-spacing {
  &, .column {
    margin: 0;
    padding: 0;
  }
}

.title.title-simple {
  margin-bottom: calc($title-sub-size / 2.0);
}

.inline-list {
  display: flex;
  flex-flow: row wrap;

  .list-item {
    display: inline-block;

    &:not(:last-child)::after {
      content: ', ';
      margin-right: 0.5rem;
    }
  }
}
